<!DOCTYPE html>
<html lang="en">
<head>
  <title>Masters PU College</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}" type="text/css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom: 30px;color:#fff;background-color: #db3434;padding: 2px">
  <h1><b>Masters PU College,Hassan</b></h1>
  <h2>Welcome <b>{{name}}</b></h2>
  <h3><b>For First PU Students</b></h3>
  <p>Students can download these model question papers as a reference to prepare accordingly for their Karnataka 2nd PUC Exam 2020</p> 
  
</div>
  
<div class="container">
  <div class="row">
  <h4 style="padding: 5px;text-align: center;">Note : Question Papers will be uploaded at Morning 9:00am and solutions will be available at evening 4:00pm.</h4>
  <br>
    <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
    <table>
      <caption style="text-align: center;">PHYSICS/ CHEMISTRY TIME TABLE </caption>
      
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">PHYSICS  1st PU chapters</th>
          <th scope="col">CHEMISTRY 1st PU chapters</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Date">17/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">UNITS AND DIMENSIONS, MOTION IN A STRAIGHT LINE, VECTORS</td>
          <td data-label="CHEMISTRY 1st PU chapters">REDOX REACTIONS</td>
        </tr>
          <tr>
          <td data-label="Date">19/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">MOTION IN A PLANE, GRAVITATION</td>
          <td data-label="CHEMISTRY 1st PU chapters">CLASSIFICATION OF ELEMENTS</td>
        </tr>
          <tr>
          <td data-label="Date">21/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">LAWS OF MOTION</td>
          <td data-label="CHEMISTRY 1st PU chapters">CHEMICAL BONDING</td>
        </tr>
          <tr>
          <td data-label="Date">23/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">WORK POWER ENERGY, SYSTEMS OF PARTICLES AND ROTATIONAL MOTION</td>
          <td data-label="CHEMISTRY 1st PU chapters">HYDROGEN</td>
        </tr>
          <tr>
          <td data-label="Date">25/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">MECHANICAL PROPERTIES O SOLIDS, MECHANICAL PROPERTIES OF FLUIDS</td>
          <td data-label="CHEMISTRY 1st PU chapters">S-BlOCK ELEMENTS</td>
        </tr>
          <tr>
          <td data-label="Date">27/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">THERMAL PROPERTIES OF MATTER, THERMODYNAMICS, KINETIC THEORY OF GASES</td>
          <td data-label="CHEMISTRY 1st PU chapters">P-BlOCK ELEMENTS</td>
        </tr>
          <tr>
          <td data-label="Date">29/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">OSCILLATIONS</td>
          <td data-label="CHEMISTRY 1st PU chapters">EQUILIBRIUM</td>
        </tr>
          <tr>
          <td data-label="Date">01/04/2020</td>
          <td data-label="PHYSICS  1st PU chapters">WAVES</td>
          <td data-label="CHEMISTRY 1st PU chapters">ATOMIC STRUCTURE</td>
        </tr>
          
        
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
    <table>
      <caption style="text-align: center;">MATHEMATICS/ BIOLOGY TIME TABLE</caption>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">MATHEMATICS  CHAPTERS</th>
          <th scope="col">BIOLOGY CHAPTERS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Date">16/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">TRIGONOMETRIC –I (Trigonometric functions)</td>
          <td data-label="BIOLOGY CHAPTERS">BIOLOGICAL CLASSIFICATION</td>
        </tr>
          <tr>
          <td data-label="Date">18/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">TRIGONOMETRIC-II-(Compound angles, Multiple and sub-multiple angles)</td>
          <td data-label="BIOLOGY CHAPTERS">PLANT KINGDOM</td>
        </tr>
          <tr>
          <td data-label="Date">20/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">TRIGOMETRY-III (Transformations and Trigonometric Equation)</td>
          <td data-label="BIOLOGY CHAPTERS">MORPHOLOGY OF FLOWERING PLANTS</td>
        </tr>
          <tr>
          <td data-label="Date">22/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">SETS</td>
          <td data-label="BIOLOGY CHAPTERS">ANIMAL KINGDOM</td>
        </tr>
          <tr>
          <td data-label="Date">24/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">RELATIONS</td>
          <td data-label="BIOLOGY CHAPTERS">CELL:THE UNIT OF LIFE CELL CYCLE AND CELL DIVISION</td>
        </tr>
          <tr>
          <td data-label="Date">26/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">COMPLEX NUMBERS</td>
          <td data-label="BIOLOGY CHAPTERS">BIOMOLECULES MINERAL NUTRITION</td>
        </tr>
          <tr>
          <td data-label="Date">28/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">QUADRATIC EQUATION</td>
          <td data-label="BIOLOGY CHAPTERS">TRANSPORT IN PLANTS PHOTOSYNTHESIS IN HIGHER PLANTS</td>
        </tr>
          <tr>
          <td data-label="Date">30/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">SEQUENCE &amp; SERIES</td>
          <td data-label="BIOLOGY CHAPTERS">RESPIRATION IN PLANTS PLANT GROWTH AND DEVELOPMENT</td>
        </tr>
          <tr>
          <td data-label="Date">02/04/2020</td>
          <td data-label="MATHEMATICS  CHAPTERS">STRAIGHT LINES</td>
          <td data-label="BIOLOGY CHAPTERS">DIGESTION AND ABSORPTION BREATHING AND EXCHANGE OF GASOS</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <br>
  <br>


    <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Biological Classification</h4>
      <a href="{{ url_for('static',filename='BIOLOGICAL_CLASSIFICATION.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Biology - Biological Classification Key</h4>
      <a href="{{ url_for('static',filename='Biological_classification-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 1</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-1.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Mathematics - CET Online Test 1 Key</h4>
      <a href="{{ url_for('static',filename='maths_cet_online_test-1-key.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Motion in straight line vectors units and dimensions</h4>
      <a href="{{ url_for('static',filename='Motion_in_straight_line_vectors_units_and_dimensions.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Physics - Motion in straight line vectors units and dimensions</h4>
      <a href="{{ url_for('static',filename='Motion_in_straight_line_vectors_units_and_dimensions_ke.doc')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - REDOX_REACTIONS_-QP</h4>
      <a href="{{ url_for('static',filename='REDOX_REACTIONS_-QP.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>
      <div class="col-sm-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);text-align: center;padding: 5px;">
      <h4>Chemistry - REDOX_REACTIONS Key</h4>
      <a href="{{ url_for('static',filename='REDOX_REACTIONS-ke.docx')}}" download>
    <img src="{{ url_for('static',filename='pdf-png.png')}}" alt="File-1" width="104" height="142">
        </a>
    </div>

    
      
  </div>
</div>
<h4 style="padding:5px">Note : If you are unable to view the downloaded doccument ,please download "wps office app" from play store.</h4>
</body>
</html>
